
h1{
    margin: 0;
    padding: 0;
    color: #376A95;
    display: block;
    background-color: #E2AF77;
    border: 2px solid chartreuse;
    border-radius: 15px;
    text-align: center;
}
img{
    display: block;
    height: 90px;
    width: 90px;
    text-align: center;

}


li{
    display: block;
    float: left;
    padding: 10px 10px;
    text-align: center;
}

button{
    cursor:pointer;width: 50px;height: 30px;color: blue;font-size: 16px;
}

